/* Modify the background color */
body.dark-mode {
    background-color: black;
}

body {
    min-height: 100vh;
}

.navbar.navbar-expand-lg {
    background: -webkit-linear-gradient(right, rgb(224, 172, 224), #96dce7);
    margin-bottom: 10px;
}

.navbar-brand {
    cursor: pointer;
    color: #ffc107;
}

.nav-link {
    color: white;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
}

.nav-link:hover {
    background: #EBC7E8;
    border-radius: 7px 10px;
    color: #898AA6;
    transition: .4s;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1rem;
}

.dropdown-menu {
    background: -webkit-linear-gradient(right, rgb(224, 172, 224), #96dce7);
}

.dropdown-item {
    color: white;
    cursor: pointer;
}

.bi.bi-cart4 {
    color: plum;
}

.badge.bg-warning.bg-pill {
    background: -webkit-linear-gradient(right, rgb(224, 172, 224), rgb(224, 172, 224));
}

.dropdown-toggle {
    cursor: pointer;
    color: white;
}

.nav-link.dropdown-toggle {
    color: white;
}

#rightnav {
    position: absolute;
    right: 8%;
    color: #0d6efd;
}

@media (max-width: 989px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }

    #rightnav {
        position: absolute;
        margin-top: 2px;
        right: 8%;
        color: #0d6efd;
    }
}

@media (min-width: 990px) and (max-width: 1980px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }

    #rightnav {
        position: absolute;
        /* margin-top: -0px; */
        right: 8%;
        color: #0d6efd;
    }
}

.shopping-cart {
    position: absolute;
    right: 20%;
}

.nav-link.active {
    color: white !important;
    font-weight: 600;
}

.title-shop {
    font-size: 20px;
    font-weight: 600;
    color: white !important;
    margin-left: 50px;
}

@media only screen and (max-width: 1200px) {
    #navbarSupportedContent {
        display: block !important;
    }
}

.btn-mode {
    background: var(--color-primary);
    color: #fff;
    //padding: 1rem;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5), 0 0 0 2px rgba(0, 0, 0, 0.1);
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1.7rem;
    right: 1rem;
    //make it alway float on top
    z-index: 999;
}
.btn-mode[_ngcontent-ejq-c117] svg[_ngcontent-ejq-c117] {
    margin-right: 0rem;
    /* margin-right: 0.1rem; */
}
.btn-mode svg {
    margin-right: .1rem;
}