
<div class="container" *ngIf="cart$ | async as cart">
    <div class="row">
        <div class="col-mb-3">
    <h1> Order Summary <i class="bi bi-cart4"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
      </svg>  </h1>
   <h3>
       You have <strong> {{$any(cart).totalItemsCount}} </strong> items in your shopping cart. 
       <button *ngIf="$any(cart).items.length" class="btn btn-warning btn-sm me-2" (click)="clearCart()">Clear shopping cart</button>
   </h3>

   <table class="table" *ngIf="$any(cart).totalItemsCount > 0 ">
    <thead>
        <tr>
        
            <th style="width: 400px">Product</th>
            <th class="text-center" style="width: 200px">Quantity</th>
            <th class="text-center" style="width: 200px">Price</th>
     
        </tr>
</thead>
<tbody>
    <tr *ngFor="let item of $any(cart).items" >
    
       <td> <img [src]="item.imageUrl" class="thumbnail">&emsp;{{item.title}} </td>
       <td class="text-center">{{item.quantity}}</td>
       <td class="text-center">{{item.totalPrice | currency}} </td>
     
    </tr>
    
       
</tbody>
</table> 
</div>

<div class="col-sm" style="margin-top: 40px; margin-bottom: 20%; margin-left: 45px; border: 1px solid gray;"  *ngIf="$any(cart).totalItemsCount > 0 ">
   <p style="margin-top: 5px;"> 
    Merchandise Subtotal: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>  {{ $any(cart).totalPrice | currency }} </strong> <br>
    Shipping & Handling: &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp;<strong>${{$any(cart).totalItemsCount * 10}}  </strong><br>
    Estimated Tax & Other Fees: &nbsp; &nbsp; &nbsp;<strong>{{ $any(cart).totalPrice * 0.13 | currency }}</strong>
</p>

<h4 style="margin-top: 10px;">
    <strong>   
        Estimated Total: &nbsp; &nbsp; &nbsp; &nbsp;
      {{ ($any(cart).totalPrice * 1.13) + $any(cart).totalItemsCount * 10 | currency }}
  </strong> 
</h4>
<a *ngIf="$any(cart).items.length" class="btn btn-primary btn-sm" routerLink="/check-out" style="margin-bottom: 10px; margin-left: 5px;">Checkout Shipped Items</a>
</div>
</div>
</div>


   ;
